/* @import '~bootstrap/scss/bootstrap.scss'; */
.dropdown-menu {
display: inline-block;
position: relative;
border: 1px solid;
}
#cke_1_top{
    display: none !important;
}
.ck-content{
    min-height: 250px;
    max-height: 1000px;
    font-family: "Roboto", "Nunito", sans-serif;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.6;
}
#tooltip {
	position:absolute;
	background:#DB2A64;
	color:#ffffff;
	padding:8px;
}
